* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 17rem);
  gap: 2rem;
  justify-content: center;
}
.card {
  position: relative;
  background-color: #1e1e1e;
  overflow-y: hidden;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  min-height: 300px;
}

.card-front h1 {
  color: #fff;
  margin: 0;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1;
}

.card h5 {
  margin: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 1rem;
  transform: translate3d(0, -100%, 0);
  transition: transform 300ms;
}
.card a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card a:hover ~ .card-overlay,
.card a:focus ~ .card-overlay {
  transform: translate3d(0, 0, 0);
}
.card a:hover ~ .card-overlay h5,
.card a:focus ~ .card-overlay h5 {
  transform: translate3d(0, 0, 0);
  color: #1e1e1e;
}
.card a:hover ~ .card-overlay .card-body,
.card a:focus ~ .card-overlay .card-body {
  opacity: 1;
}

.card-front-wrap {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-front {
  margin-bottom: 20px;
}

.card-footer {
  margin-top: auto;
  color: #fff;
}

.card-footer p {
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.card-footer i {
  margin-right: 10px;
}

.card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  transition: transform 300ms;
  background-color: #e5bc73;
  transform: translate3d(0, 100%, 0);
}
.card-body {
  flex-grow: 1;
  padding: 1rem;
  opacity: 0;
  transition: opacity 500ms 100ms;
}
.card-body p {
  margin: 0;
}

.register-button {
  display: inline-block;
  padding: 4px 8px;
  border: 2px solid #1e1e1e;
  border-radius: 2px;
  color: #1e1e1e;
  margin-top: 20px;
}

.plus {
  background-color: #000;
  color: #fff;

  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  font-size: 2rem;
  padding: 5px 12.9px;
  border-radius: 50%;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.plus:hover {
  background-color: #e5bc73;
}
.image {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 42px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.dropup-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 62px;
  left: 20px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.dropup-content a {
  color: black;
  border-radius: 10px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropup-content a:hover {
  background-color: #ccc;
}

.dropup:hover .dropup-content {
  display: block;
}
.plus:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
